/* Content */

table tr,
        td {
            border: 1px solid black;
        }
        
        .RRNG h5 {
            font-size: medium;
        }
        
        .RRNG h6 {
            position: relative;
            font-size: medium;
            background: rgb(255, 255, 255);
            width: 70%;
            padding-top: 30px;
            bottom: 6px;
        }
        
        .slider {
            -webkit-appearance: none;
            width: 70%;
            height: 10px;
            border-radius: 10px;
            background: #ff0000;
            outline: none;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
        
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #ff0000;
            cursor: pointer;
            transform: rotate(45deg);
        }

@media only screen and (max-width: 2000.98px) {
    .Myacount-box h2 {
        font-size: medium;
        font-weight: bold;
    }
    .Rtxt {
        display: flex;
    }
    .Myacount-box h3 {
        font-size: large;
        padding-top: 15px;
    }
    .RRNG {
        margin-top: 100px;
        margin-left: 28%;
    }
    .Rtbl {
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left: 38%;
    }
    .Ptxt {
        margin-left: 60%;
    }

    .Myacount-box{
        margin-top: -740px;
        margin-left: 340px;
       }
}

@media only screen and (max-width: 991.98px) {
    
    .txtbox {
        width: 350px;
    }
    .RRNG,
    .Rtbl {
        margin-left: 34%;
    }
    .Ptxt {
        margin-left: 50%;
    }
}

@media only screen and (max-width: 767.98px) {
    .Rtxt {
        display: flex;
    }
    .txtbox {
        width: 300px;
    }
    .RRNG,
    .Rtbl {
        margin-left: 25%;
    }
    .Myacount-box{
        margin-top: -540px;
        margin-left: 20px;
       }
}
@media only screen and (max-width: 450px){
    .tot-box {
        position: relative;
        margin-top: -450px;
        width: 100%;
    }
    .Myacount-box{
        margin-left: 10px;
    }
    .tab-box{
        
        width: 400px;
    }
    .prof{
        height: 200px;
    }
    .Myacount-box{
        margin-top: 0px;
       }
    
}
