/* FAQ's */

.faq_box {
    margin: 20% 23% 5% 23%;
    border-radius: 15px;
    border: 1px solid rgb(230, 230, 230);
    overflow: hidden;
}

.faq_question {
    color: rgb(96, 96, 96);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(236, 236, 236);
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
    margin: 20px 0px 20px 10%;
}

.faq_question:hover {
    color: rgb(192, 18, 18);
}

.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 10px;
}

.faq_answer {
    border-left: 3px solid rgb(228, 77, 1);
    width: 75%;
    margin-left: 15%;
    padding-left: 20px;
    padding-bottom: 10px;
}

.heading_faq {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background: rgb(233, 43, 233);
}