/* Back to top */

.BTT img {
    position: fixed;
    z-index: 1;
    color: white;
    bottom: 20px;
    float: right;
    right: 20px;
    border-radius: 50%;
}


/* product Navigation menu */

.nav-menu nav a {
    font-weight: bold;
    text-decoration: none;
    font-size: larger;
}

.nav-menu nav a:hover {
    color: #ff007b;
    font-size: large;
    transition: 0.3s;
}

.nav-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 13%;
    background: rgb(255, 255, 255);
    padding-top: 10px;
}

.Category_img_list img {
    margin-left: 15%;
}


/* fixing responsiveness */

@media only screen and (max-width: 2000.98px) {
    .nav-menu nav a {
        margin-left: 20px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 991.98px) {
    .csslide {
        margin-top: 10%;
    }
    .nav-menu nav a {
        margin-left: 20px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 767.98px) {}

@media only screen and (max-width: 575.98px) {
    .nav-menu nav a {
        margin-left: 10px;
        padding-right: 5px;
        font-weight: bold;
        font-size: medium;
    }
    .csslide {
        padding-top: 3%;
    }
    .Category_img_list img {
        margin-left: 15%;
    }
}

@media only screen and (max-width: 450px) {

    .csslide {
        padding-top: 11%;
    }
    .Products-list-box{
        right: 50px !important;
        
    }
    .who{
        margin-right: 40%;
    }
    span{
        z-index: 999;
    }
    .price{
        margin-top: 5px;
    }

}